

<div class="container">
    <form action='/add-departement' method="POST">
        <div class="form-group">
          <label for="dep-name">name</label>
          <input type="text" name='dep_name' class="form-control" id="dep_name" placeholder="Enter departement name">
        </div>
          <div class="form-group">
              <label for="dep-name">description</label>
              <textarea name="dep_descreption" id="dep_description" cols="30" rows="10"></textarea>
          </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>

